In [ ]:
Defination of function:using same function again and again function is used,
no need to input function again again..
write defination of function in string '' format.
To know function of a function press SHIFT + TAB
define function with # what does the function which do shows in docstring 
functions in string list tuple set are:
type()
len()
s[2]
s.strip()
s.remove()
int()

TYPES OF FUNCTIONS:
FUNCTIONS WITH PARAMETER
FUNCTIONS WITH NO PARAMETER 
FUNCTIONS WITH DEFAULT PARAMETER
FUNCTIONS WITH RETURN PARAMETER

TYPES OF VAIRABLE IN PYTHON LOCAL works only inside block of function AND GLOBAL works 
in both inside and outside block
    
 def note(a) single parameter for def
 def note(*a) multiple parameters 
 def mote(name,age,contact)
 def note(a,b,c,d,*e) multiple parameters  is also possible * for future purpose

In [ ]:
def (*args)(**kwargs)  means(*arguments,** keywordorguments)

In [ ]:
SYNTAX of function
Functions(defination)
Functions(execution)
Function(calling)

TO CHECK EXPENSE OF ONE EMPLOY:

In [1]:
samir=[1000,2000,2500,900,3200]
total_expense=0

 total_expense+=1    SAME  total_expense=total_expense + i

In [2]:
total_expense=0
for i in samir:
    total_expense=total_expense+i
    print(total_expense) # inside the for loop
print(total_expense,end="  " )# outside the for loop

1000
3000
5500
6400
9600
9600

In [3]:
total_expense=0
for i in samir:
    total_expense=total_expense+i
print(total_expense,end="  " )# outside the for loop

9600

TO CHECK EXPENSE OF MORE EMPLOYS:

In [ ]:
so create a block where user can enter name of the employ and expense of that particular employ we get
Functions(defination)
Functions(execution)
Function(calling)

In [4]:
samir=[1000,2000,2500,900,3200]
tejas=[2000,2500,250,3200,1200]
pppl=[125,2563,985,622]

In [ ]:
COMMON FUNCTION FOR ALL is expense

In [5]:
def expense(name):
    'this function return total expense done by employee till date' #shift + tab 
    total_expense=0
    for i in name:
        total_expense=total_expense+i
    print(total_expense)

In [6]:
expense(samir) #at a time one only # press shift + tab to know function check in doctrine

9600

In [7]:
expense(tejas)

9150

In [8]:
expense(pppl)

4295

##  def return function

In [9]:
def add(a,b,c,d):
    return(a,b,c,d)

In [10]:
add('jyo',5,88,'pune')

('jyo', 5, 88, 'pune')

In [11]:
def add(*a):    #'* means coder can add multiple information'
    return a

In [12]:
add(25,6.2,6,98,34,)

(25, 6.2, 6, 98, 34)

def (*args)(**kwargs) (*arguments,** keywordorguments)

In [13]:
t=[]

In [16]:
t.append(2) #by default added at the last

In [17]:
t

[12, 2]

HERE with append at a time only one element is added so use def append(*a) can enter n number of inputs at a time.

In [18]:
l=[]
def append(*a):

    for i in a:
        l.append(i)
    return l

In [19]:
append(1,2,3) #in l list

[1, 2, 3]

In [20]:
append(2.3,8,9,45)

[1, 2, 3, 2.3, 8, 9, 45]

In [21]:
l

[1, 2, 3, 2.3, 8, 9, 45]

In [ ]:
def test(a,b,c,d,e*) means a b c d are fixed four entries
but e* means in future there can be additional entries if needed

In [22]:
def test(a,b,*c):
    return a,b,c

In [23]:
test(1,2,5,6,98,"lol") # all added to the c

(1, 2, (5, 6, 98, 'lol'))

In [24]:
def test1(*a,b,c):
    return a,b,c

In [25]:
test1((1,12,5),8,9)

TypeError: test1() missing 2 required keyword-only arguments: 'b' and 'c'

In [26]:
test1(1,23,5,2,b=1,c=56)

((1, 23, 5, 2), 1, 56)

In [ ]:
TYPES OF FUNCTIONS:
    
1.FUNCTIONS WITH PARAMETER
2.FUNCTIONS WITH NO PARAMETER 
3.FUNCTIONS WITH DEFAULT PARAMETER
4.FUNCTIONS WITH RETURN PARAMETER

In [ ]:
1.FUNCTIONS WITH NO PARAMETER

In [27]:
def note():   
    'no argument inside bracket'
    print("wel come..This is function with no parameter")

In [28]:
note()

wel come..This is function with no parameter

In [ ]:
2.FUNCTIONS WITH PARAMETER

In [29]:
def note1(a,b): # two a b argument declared 
    print("value of a : ",a)
    print("value of b : ",b)

In [30]:
note1('little',905)

value of a :  little
value of b :  905

In [ ]:
3.FUNCTIONS WITH DEFAULT PARAMETER
paramerters declared at start only

In [31]:
def note2(a='little',b=95):
    print("value of a : ",a)
    print("value of b : ",b)

In [32]:
note2()

value of a :  little
value of b :  95

In [33]:
def note2(a='little',b=95):
    print("value of a : ",a)
    print("value of b : ",b)
note2(a='loll',b=98)  # in python function starts BOTTOM TO UP APPROACH

value of a :  loll
value of b :  98

In [ ]:
4.FUNCTIONS WITH RETURN PARAMETER

In [34]:
def note3(a,m):
    return a,m

In [35]:
note3("kpiij","lolo")

('kpiij', 'lolo')

In [36]:
def add(a,b):
    return a+b

In [37]:
add(58,3)

61

In [ ]:
5.** keywordorgument def (**kwargs) output of keyword arguement is in dictionary format

In [38]:
def note3(**info): # here keyword note  is defind as keyarg
    return info

In [39]:
note3(name='lol',marks=256,code='python')  # output is in dictionary format

{'name': 'lol', 'marks': 256, 'code': 'python'}

In [40]:
def test(*a,**info):
    return a,info

In [55]:
test('lol','python',56,3,2.3,a=5,g=9.8,h='play',code='python') # output tuple + dictionary format

(('lol', 'python', 56, 3, 2.3),
 {'a': 5, 'g': 9.8, 'h': 'play', 'code': 'python'})

In [41]:
def note4(*a):
    #b=5
    x=[]
    for i in a:
        if type(i)== int:
            final=i
            x.append(final)
    print("final_list is:  ",x)

In [42]:
note4(15,482,463,3.36)

final_list is:   [15, 482, 463]

In [43]:

def note4(*a):
    b=5
    x=[]
    for i in a:
        if type(i)== int:
            final=b+i
            x.append(final)
        elif type(i)== float:
            
            print("float numbers:  ",i)
        else:
            if i.isupper()==True:
                print(i)
    print("final_list is:  ",x)

In [44]:
note4(15,482,463,3.36,"lollllll",'lol','python','komal',5.6,10,30,'UPPR')

float numbers:   3.36
float numbers:   5.6
UPPR
final_list is:   [20, 487, 468, 15, 35]

In [45]:
def test(*a):
    y=[]
    for i in a:
        y.append(i)
    print("list is : ",y)

In [46]:
test(2,5,6,3,58,8,2,5,'lolo')

list is :  [2, 5, 6, 3, 58, 8, 2, 5, 'lolo']

In [47]:
def name1(*c):
    n=[]
    b=[]
    m=[]
    for i in c:
        if type(i)==int:
            n.append(i)
        elif type(i)==str:
            b.append(i)
        else:
            m.append(i)
            
    print("list of integers:  " , n)
    print("list of string: " , b)
    print("list of float: "  ,m)

In [48]:
name1(15,482,463,3.36,"lollllll",'lol','python','komal',5.6,10,3.0,'UPPR',85.23)

list of integers:   [15, 482, 463, 10]
list of string:  ['lollllll', 'lol', 'python', 'komal', 'UPPR']
list of float:  [3.36, 5.6, 3.0, 85.23]

In [49]:
a=[]
b=[]
c=[]
def age(*t):
    for i in t:
        if i<18:
            a.append(i)
        elif i>=18 or not(i>=18):
            b.append(i)
            print("list of above 18: ",b)
            
        else:
            if i>100:
                c.append(i)
                
                
    print("list of below 18: ",a)
    print("list of above 18: ",b)
    print("list of NRIs: ",c)

In [50]:
age(23,15,12,98,40,52,53,12,120,111,18)

list of above 18:  [23]
list of above 18:  [23, 98]
list of above 18:  [23, 98, 40]
list of above 18:  [23, 98, 40, 52]
list of above 18:  [23, 98, 40, 52, 53]
list of above 18:  [23, 98, 40, 52, 53, 120]
list of above 18:  [23, 98, 40, 52, 53, 120, 111]
list of above 18:  [23, 98, 40, 52, 53, 120, 111, 18]
list of below 18:  [15, 12, 12]
list of above 18:  [23, 98, 40, 52, 53, 120, 111, 18]
list of NRIs:  []

In [ ]:
USING FUNCTION CODE FOR ODD EVEN:

In [51]:
def odd_even(a):
    if n%2==0:
        print("number is even")
    else:
        print('number is odd')

In [52]:
n=25

In [53]:
odd_even(22)

number is odd

In [58]:
def odd_even(n):
    e = []
    o = []
    if n%2==0:
        print("number is even")
        e.append(n)
    else:
        o.append(n)
        print('number is odd')

In [59]:
odd_even(85)

number is odd

In [60]:
odd_even(2)

number is even

In [61]:
odd_even(8)

number is even