 # DATA TYPES GIVEN BELOW :
1. Integer
2. String
3. Float
4. Boolean values :True /False
5. Complex numbers
6. Set
7. List
8. Tuple
9. Dictionary

In [1]:
s="Welcome coders Python"   #string
print(type(s))

B = 7        #integer BEAWARE b= '7' is a string with inverted commas 
print(type(B))

c = 5.3      # float
print(type(c))

D__ = '5'      # it is a string and not integer
print(type(D__))

e123 = 3+5j     # complex number 
print(type(e123))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

COMPLEX  number :   In a=6+7j real number is 6 and imag num is 7j

In [2]:
a=5+3j
type(a)

complex

In [3]:
a.imag   #to check imag number in equation

3.0

In [4]:
a.real   #to check real number in equation

5.0

# LIST

 1. List represented by [ ] square brackets and accepts have all data types integers ,string, float,        boolean and complex number.

In [5]:
l=['jyothi',150,23.36,True,7+5j]

In [6]:
l

['jyothi', 150, 23.36, True, (7+5j)]

In [7]:
type(l)  # to check type of l

list

In [8]:
len(l)  # to check length of l

5

In [9]:
tuple(l) #convert

('jyothi', 150, 23.36, True, (7+5j))

# TUPLE

1. Round bracket used for tuple () 
2. Difference between LIST and TUPLE is changes can be made into the list but not in tuple  data like   blood group,finger print , adhar card number are stored in tuple so that they can not be change       later on.
3. INDEXING is allowed in TUPLE.
4. Tuple can be converted into list.
5. Tuple can not have a single element t=(10 ,) add coma to make t a tuple

In [10]:
t=(12,23.02,True,100,"Data")

In [11]:
t

(12, 23.02, True, 100, 'Data')

In [12]:
list(t) #conversion

[12, 23.02, True, 100, 'Data']

In [13]:
len(t)

5

How to make tuple with single element ?

In [14]:
t=("Hello") 
type(t)

str

In [15]:
#one data with tuple can be created by adding , single coma after first data
t=("Hello",)
type(t)

tuple

In [16]:
t=("jyo",256) #type tuple with two data
type(t)

tuple

# SET

1. s={} set accepts int float string complex boolean.
2. NO indexing in SET randomly allot location.
3. set take ONLY unique data repeated data is not shown again.
4. data is automaticaly sorted like first int complex then at last string will be displayed.
5. Curly bracket used {} same for dict also but blank set can not created blank dic is possible.

In [17]:
s={12.3,56,1,12,True,'false',False,5+6j,12.3,56,True,'false',False,5+6j} # false is string

In [18]:
s     #repeated data is not displayed in set

{(5+6j), 1, 12, 12.3, 56, False, 'false'}

In [19]:
type(s)

set

In [20]:
len(s)

7

In [21]:
#interview question
a="Hello Mellow"
#from above string only unique data needed as some alphabets are repeated
set(a) # this gives only unquie output

{' ', 'H', 'M', 'e', 'l', 'o', 'w'}

# DICTIONARY

 # {'key':'value'} key name has to be unqiue but value can be same or repeated.
1. d={} same for dict also but blank set={} can not created and empty dict is possible.
2. Tuple and list can be created inside the dictionary.

In [22]:
d={} # blank dic can be created  but blank sset is not possible
type(d)

dict

In [23]:
s={}
type(s) #where s is set

dict

In [24]:
d=[]
type(d)

list

In [25]:
type(d)

list

In [26]:
d1={'s':{1,2,5},'name':'JYOTHI','name1':'JYOTHI','contact':[9379865155,885701425]}
d1

{'s': {1, 2, 5},
 'name': 'JYOTHI',
 'name1': 'JYOTHI',
 'contact': [9379865155, 885701425]}

In [27]:
len(d1)

4

In [28]:
list(d1) #dictionary can not be converted into list or tuple or set only shows keys

['s', 'name', 'name1', 'contact']