# SETS

1. s={}  set is represented by {} curly brackets.
2. set can not be empty and empty set={} is dictionary.
3. set accepts data types int,str,float,boolean,tuple ONLY AND set do not accept list and sub set
4. no repeated element at output is shown.
5. automatically sorting takes place in a set.
6. set is used for getting unique element from string. 
7. indexing is not present in set and alot random positions to elements.

1. s={}  set is represented by {} curly brackets.
2. set can not be empty and empty set={} is dictionary.

In [5]:
s1={}
type(s1)

dict

In [6]:
s={1}
type(s)

set

3. Set accepts data types int,str,float,boolean,tuple ONLY AND set do not accept list and sub set

In [9]:
s={True,12,63.1,8+3j,"Python",(1,2,3)}
s

{(1, 2, 3), (8+3j), 12, 63.1, 'Python', True}

4. INDEXing is not allowed in set methods
   #indexing does not work in sets.sets get automatically sorted so index changes.

In [11]:
s[4]

TypeError: 'set' object is not subscriptable

5. Set shows only unique elements and no repeated element at output.

In [21]:
s={"hello",1,2,3,1,2,3,3+6j,"python","python",True}
s         # set shows only unique element only string at last first numbers

{(3+6j), 1, 2, 3, 'hello', 'python'}

6. Add somthing to the set s.add()
   s.add can add only one element at a time.

In [14]:
s.add(1100) # alotted at random location
s

{(3+6j), 1, 1100, 2, 3, 'hello', 'python'}

In [15]:
s.add(999,6) # two elements cant be added at a time

TypeError: set.add() takes exactly one argument (2 given)

In [22]:
s1=("java",9.19,6)  #tuple can be added to the set
s.add(s1)
s

{('java', 9.19, 6), (3+6j), 1, 2, 3, 'hello', 'python'}

In [23]:
s2=['lol',7]        #list can not be added.
s.add(s2)
s

TypeError: unhashable type: 'list'

In [24]:
s3={"hello",True}    #set can not added into a set
s.add(s3)
s

TypeError: unhashable type: 'set'

In [25]:
s4={'key':'value','name':'JYOTHI'}    #dict also can not added to the set
s.add(s4)
s

TypeError: unhashable type: 'dict'

# ONLY TUPLE ,integer,float,boolean, string can be added to the set

7. UPDATE method : to add element but without brackets use s.update() more than one element can be     added and with s.add()  only one element can be added to the set.

In [26]:
a={"lol",85,54.23,True}  #a is set added to another set a1
a1={"TATA",1.99,550,False}
a.update(a1)   # elements of a1 si added to a without brackets
a

{1.99, 54.23, 550, 85, False, 'TATA', True, 'lol'}

In [27]:
a2=(6+2j,True)  # tuple is added to another set
a.update(a2)
a

{(6+2j), 1.99, 54.23, 550, 85, False, 'TATA', True, 'lol'}

In [28]:
b1=[True,2.3,"bye"]  #list can be updated with set
b={5.5,800,False}
b.update(b1)
b

{2.3, 5.5, 800, False, True, 'bye'}

In [32]:
a1.update(b)  #single element cantbe added like s.add(9) update takes more than one element
a1 #single int string float cant be updated

{1.99, 2.3, 5.5, 550, 800, False, 'TATA', True, 'bye'}

8. COPY method in SET

In [33]:
x={True , "none",5.3,5655} #copy  x into y
y=x.copy()
y

{5.3, 5655, True, 'none'}

9. POP function in set removes First element by default

In [40]:
f={31,15,1,2.3,True,"pet","cat"}
f

{1, 15, 2.3, 31, 'cat', 'pet'}

In [41]:
f.pop()  #removes first element of a set
f

{15, 2.3, 31, 'cat', 'pet'}

10. REMOVE FUNCTION s.remove() in set removes element as per coder.
    HERE pop function is removing the first element by default but its not removing the element which     user wanted. so here  S.REMOVE() FUNCTION IS used.

In [42]:
f

{15, 2.3, 31, 'cat', 'pet'}

In [43]:
f.remove(2.3) #remove function removes the element which i want randomly
f

{15, 31, 'cat', 'pet'}

In [44]:
f.remove(888,500) #s.remove() : one element can be removed at a time.

TypeError: set.remove() takes exactly one argument (2 given)

 ## s.remove() shows error when element is not present.
 ## s.remove(): one element can be removed at a time.

## as s.remove() funct gives error when element is not present in the set
11. To avoid error s.DISCARD() function is used and code is not stopped

In [45]:
s

{('java', 9.19, 6), (3+6j), 1, 2, 3, 'hello', 'python'}

In [48]:
s.discard('hello')
s

{('java', 9.19, 6), (3+6j), 1, 2, 3, 'python'}

In [49]:
s.discard(100000)   #cell runs but doesnot show error if element is not present.

In [50]:
s.discard(1000000,2.3)
s      #at a time only one element can be discarded

TypeError: set.discard() takes exactly one argument (2 given)

12. Clear method : To clear whole set
s.clear()

In [51]:
a

{(6+2j),
 1.99,
 2.3,
 5.5,
 54.23,
 550,
 800,
 85,
 False,
 'TATA',
 True,
 'bye',
 'lol'}

In [52]:
a.clear() # here check output set() not as set cant  not be empty
a

set()

13. To convert tuple , list into set

In [55]:
l=[5.2,200,5489,"yellow"]
set(l)

{200, 5.2, 5489, 'yellow'}

In [56]:
t=(5.2,200,5489,"yellow")
set(t)

{200, 5.2, 5489, 'yellow'}

Question asked to convert tuple list into set

In [57]:
t=(501,2.55,"bye",True,10,11,12,13,14)
set(t)

{10, 11, 12, 13, 14, 2.55, 501, True, 'bye'}

# Convert string into set find unique elements.

In [58]:
q="Pycharmpython"
set(q)

{'P', 'a', 'c', 'h', 'm', 'n', 'o', 'p', 'r', 't', 'y'}

### Reverse and keep some elements as it is of the string 
s="pythonpycharm" 
s="pythonmrahcyp" output like this

In [59]:
p="pythonpycharm"
p1=p[0:6]
p1

'python'

In [60]:
p2=p[6:13]
p2

'pycharm'

In [61]:
p2[::-1]

'mrahcyp'

In [62]:
p3=p2[::-1]
p3

'mrahcyp'

In [63]:
p=p1+p3

In [64]:
p

'pythonmrahcyp'

14. Convert dictinary into set

In [65]:
d={"key":"value","aa":True,"b":5.4,"B":8,"b":"why"}
set(d) # shows only unquie keys

{'B', 'aa', 'b', 'key'}

15. To check intersection of sets given

In [66]:
a={501,2.55,"bye",True,10,11,12,13,14,10}
a1={"YELLOW",11,12,13,14}
a.intersection(a1)  # shows only common things of both sets

{11, 12, 13, 14}

In [67]:
a.union(a1)

{10, 11, 12, 13, 14, 2.55, 501, True, 'YELLOW', 'bye'}

In [68]:
a.symmetric_difference(a1) # shows which is no common in both in both,
#union - intersection is symm deff

{10, 2.55, 501, True, 'YELLOW', 'bye'}

In [69]:
a.difference(a1)

{10, 2.55, 501, True, 'bye'}

In [70]:
s={1,2.3,25,1000,8,98}
s1={1,2.3,True , 8,"lol"}
s.difference(s1) # shows all that which is not there in s1

{25, 98, 1000}

16. To check membership

In [71]:
s

{1, 2.3, 8, 25, 98, 1000}

In [72]:
8 in s

True

In [73]:
2.5 in s

False

In [74]:
2.5 not in s

True