# LIST METHODS

1. List is represneted by l[] with square brackets.
2. List accpets all types of data types that are int,boolean,str,float,tuple,set,dict.
3. List has Indexing

1. List accpets all types of data that are int,str,complex,boolean,float,tuple,set,dict.

In [2]:
l=[True,"false",100,9.9,3+6j,(36,13.5),[71,2],{'a',56},{"key":"Value",985:"contact"}]

In [3]:
l # indexing do not change in output of list as in set indexing changes

[True,
 'false',
 100,
 9.9,
 (3+6j),
 (36, 13.5),
 [71, 2],
 {56, 'a'},
 {'key': 'Value', 985: 'contact'}]

2. To check lenth of the list

In [4]:
len(l)

9

3. Indexing in list

In [5]:
l

[True,
 'false',
 100,
 9.9,
 (3+6j),
 (36, 13.5),
 [71, 2],
 {56, 'a'},
 {'key': 'Value', 985: 'contact'}]

In [6]:
l[5]   # at index 5 it is Tuple(36,13.5)

(36, 13.5)

In [7]:
l[0:5] #0 1 2 3 4

[True, 'false', 100, 9.9, (3+6j)]

In [8]:
l[::-1]   # reverse of list

[{'key': 'Value', 985: 'contact'},
 {56, 'a'},
 [71, 2],
 (36, 13.5),
 (3+6j),
 9.9,
 100,
 'false',
 True]

In [9]:
l[0:5:-1] # no output direction is opposite

[]

In [10]:
l[10]  # error as index is out of range

IndexError: list index out of range

4. CONVERSION str()/tuple()/set{}/dict{} into List

In [11]:
string ="data science"   # string to list[]
list(string)

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [12]:
t=(10,12,101,13,11,5.2)   # tuple to list
list(t) # output with square brackets

[10, 12, 101, 13, 11, 5.2]

In [13]:
s={10,12,101,13,11,5.2}   # set {} into list
list(s)

[5.2, 101, 10, 11, 12, 13]

In [14]:
dictionary ={"key":"value","contact":123456,"abhs":3+6j}  # dictionay to list is not possible
list(dictionary)

['key', 'contact', 'abhs']

5. CONCATANATION in LIST
   list[] with string is not possible
   list[] with list [] concatanation is possible

In [15]:
l1=[True,3+6j,"python"] + "Hello coders"  #   list[] with string is not possible

TypeError: can only concatenate list (not "str") to list

In [16]:
l2 + 235

NameError: name 'l2' is not defined

In [17]:
l1=[True,3+6j,"python"]   #   list[] with list [] concatanation is possible
l2=["Hello coders"]
l1+l2

[True, (3+6j), 'python', 'Hello coders']

In [18]:
l2*2   # print L2 two times

['Hello coders', 'Hello coders']

6. Membership operators in List

In [19]:
l

[True,
 'false',
 100,
 9.9,
 (3+6j),
 (36, 13.5),
 [71, 2],
 {56, 'a'},
 {'key': 'Value', 985: 'contact'}]

In [20]:
9.9 in l

True

In [21]:
9.99 in l

False

In [22]:
9.9 not in l

False

In [23]:
{56,'a'} in l

True

7. Min Max in list
   To find min/max provided that all the items in list should be of same type.
   as for comparision of two same type of element is possible

In [24]:
l

[True,
 'false',
 100,
 9.9,
 (3+6j),
 (36, 13.5),
 [71, 2],
 {56, 'a'},
 {'key': 'Value', 985: 'contact'}]

In [25]:
min(l)     #int and string of list can not be compared

TypeError: '<' not supported between instances of 'str' and 'bool'

In [26]:
l1=[1,2,3,4,5,6,8,8000,1546.256,545,82]
min(l1)

1

In [27]:
max(l1)

8000

In [28]:
l2=["jyo","python","lol","hello","x","a"]  # all elements are string
min(l2)

'a'

In [29]:
max(l2)

'x'

8. ADD item to the list

In [36]:
l

[True,
 'false',
 100,
 'not',
 (3+6j),
 (36, 13.5),
 [71, 2],
 {56, 'a'},
 {'key': 'Value', 985: 'contact'}]

In [37]:
l[13]="not"   # it shows error if index is not present

IndexError: list assignment index out of range

In [38]:
l

[True,
 'false',
 100,
 'not',
 (3+6j),
 (36, 13.5),
 [71, 2],
 {56, 'a'},
 {'key': 'Value', 985: 'contact'}]

In [39]:
l[100]=202 # # it shows error if index is not present
l

IndexError: list assignment index out of range

9. Insert Function to avoid error
   does not gives error if index is out of range at least code does not stops running

In [40]:
l.insert(2,972729) #does not remove just insert and  l[3]="not" add function "not" at 3 index
l

[True,
 'false',
 972729,
 100,
 'not',
 (3+6j),
 (36, 13.5),
 [71, 2],
 {56, 'a'},
 {'key': 'Value', 985: 'contact'}]

In [41]:
l.insert(200,"lol") # runs but does not show error

10. Count method to check an element is repeated how many times

In [42]:
a=[1,1,1,2,2.2,25.2,3.3,33.0,555,53,5,3.99,5,2.2]
a.count(1)

3

In [43]:
a.count(100)

0

11.INDEX method To check element is at what index

In [44]:
a

[1, 1, 1, 2, 2.2, 25.2, 3.3, 33.0, 555, 53, 5, 3.99, 5, 2.2]

In [45]:
a.index(10)

ValueError: 10 is not in list

In [46]:
a.index(1)

0

In [47]:
a.index(3.3)

6

11. APPEND function
add element at the last of list
only one element can be added at a time.

In [48]:
l=[1.2,8,True,"komal",10,11,15,18,199,202020]
l

[1.2, 8, True, 'komal', 10, 11, 15, 18, 199, 202020]

In [49]:
l.append(33.33)
l

[1.2, 8, True, 'komal', 10, 11, 15, 18, 199, 202020, 33.33]

In [50]:
l.append("python")

In [52]:
l # added at the last

[1.2, 8, True, 'komal', 10, 11, 15, 18, 199, 202020, 33.33, 'python']

In [53]:
l1=[202,True,'PYHTON',2.3356] # append list into list
l.append(l1)
l

[1.2,
 8,
 True,
 'komal',
 10,
 11,
 15,
 18,
 199,
 202020,
 33.33,
 'python',
 [202, True, 'PYHTON', 2.3356]]

12. EXTEND function of list
    as append add element with [square brackets] and extend add each element seperatly and extend   
    takes only one arguement

In [54]:
m=[1.2,2323,True,"python"]
m.extend("ABCD")  # extend string

In [55]:
m

[1.2, 2323, True, 'python', 'A', 'B', 'C', 'D']

In [56]:
n=[12,26,"NKSD"]
n.extend(m)

In [57]:
n

[12, 26, 'NKSD', 1.2, 2323, True, 'python', 'A', 'B', 'C', 'D']

In [58]:
n.append("komal") # look how komal is added 
n

[12, 26, 'NKSD', 1.2, 2323, True, 'python', 'A', 'B', 'C', 'D', 'komal']

In [59]:
n.extend("komal") #look how komal is added k o m a l 
n

[12,
 26,
 'NKSD',
 1.2,
 2323,
 True,
 'python',
 'A',
 'B',
 'C',
 'D',
 'komal',
 'k',
 'o',
 'm',
 'a',
 'l']

In [60]:
m

[1.2, 2323, True, 'python', 'A', 'B', 'C', 'D']

In [61]:
w=[1.2,"loll"]
m.append(w)

In [62]:
m  #With brackets

[1.2, 2323, True, 'python', 'A', 'B', 'C', 'D', [1.2, 'loll']]

In [65]:
a=['a',44]
m.extend(a)  # without brakets
m

[1.2,
 2323,
 True,
 'python',
 'A',
 'B',
 'C',
 'D',
 [1.2, 'loll'],
 1.2,
 'loll',
 'a',
 44,
 'a',
 44]

13. POP function
    pop function in list removes  last element by default.
    pop function in set removes first function by default as set is a data type which do not have have     indexing.. automatically removes first element

In [71]:
m1=[15,'shf',3+6j,"python",True,"hellow"]

In [72]:
m1.pop()
m1

[15, 'shf', (3+6j), 'python', True]

14.REMOVE function as this removes what user coders wanted
as pop removes default(last)

In [73]:
m1

[15, 'shf', (3+6j), 'python', True]

In [75]:
m1.remove(15)
m1

['shf', (3+6j), 'python', True]

In [76]:
m1.remove('lol')
m1  # error when element is not present

ValueError: list.remove(x): x not in list

15. To remove element index wise

In [79]:
m1

['shf', (3+6j), 'python', True]

In [80]:
del m1[2]  #removes index 5th value
m1

['shf', (3+6j), True]

16.REVERSE method in list

In [82]:
a

['a', 44]

In [83]:
a.reverse()
a

[44, 'a']

14.SORT method function   
int and string cant be compared together thats why error occurs

In [84]:
n=[33,53,26.94,25.1,1.1,98,102]

In [85]:
n.sort()
n   # int and string cant be compared together thats why error

[1.1, 25.1, 26.94, 33, 53, 98, 102]

In [86]:
y=['lol','n','mommy','highway','aaa']
y.sort()

In [87]:
y

['aaa', 'highway', 'lol', 'mommy', 'n']

In [88]:
y.sort(reverse=True)
y

['n', 'mommy', 'lol', 'highway', 'aaa']

In [89]:
a=y.copy()

In [91]:
a

['n', 'mommy', 'lol', 'highway', 'aaa']

In [92]:
a*2

['n', 'mommy', 'lol', 'highway', 'aaa', 'n', 'mommy', 'lol', 'highway', 'aaa']

###  IMPORTANT  INDEXING in nested list

In [93]:
a=[1,8,66]
b=[56,7,63]
c=[90,21,1]

In [94]:
d=[a,b,c]
d

[[1, 8, 66], [56, 7, 63], [90, 21, 1]]

In [95]:
c[2]

1

In [96]:
a[1]

8

In [97]:
b[0]  # at what index 1 is 56

56

Question get value at index 6 from list d

In [98]:
d    # nested list list into list

[[1, 8, 66], [56, 7, 63], [90, 21, 1]]

In [99]:
d[1][2]

63

In [100]:
d[2][1] # list d in of index 2 at index 1

21

In [101]:
d[0] #at index 0

[1, 8, 66]

In [102]:
d[1] #at index 1

[56, 7, 63]

In [103]:
d[2] #at index 2

[90, 21, 1]

TRY question find 7 value index

In [104]:
t=[[1, 8, 66], [501,12,[56, 7, 63]], [200, 201, 1]]

In [108]:
t[1]

[501, 12, [56, 7, 63]]

In [109]:
t[1][2]

[56, 7, 63]

In [110]:
t[1][2][1]

7