    TUPLE METHODS
1. Tuple method represented by  round bracket t()
2. In tuple coder can not make any changes later on once created item assignment is not possible in  
   tuple later on
3. Tuple accepts all data types int,str,float,list,tuple,dictionary,boolean.
4. majorly list and dictionary is used .IN tuple multiple elements can be added but changes are not  
   possible later on thats why least used.

In [1]:
t=()
type(t)

tuple

In [2]:
t=(12)  #type is int  single element with tuple can not be called as tuple
type(t)

int

In [3]:
t=(10,)  # add coma in tuple with single element
type(t)

tuple

In [6]:
t=('python',True,12.23,50,6+6j,(8,5,6),[85,8],{26,5},{"lodj":"khsj"})

In [7]:
len(t)

9

In [8]:
t[::-1]  #reverse

({'lodj': 'khsj'},
 {5, 26},
 [85, 8],
 (8, 5, 6),
 (6+6j),
 50,
 12.23,
 True,
 'python')

1.to check index of a value

In [9]:
t.index(50)

3

2.tuple multiplication

In [10]:
t*2

('python',
 True,
 12.23,
 50,
 (6+6j),
 (8, 5, 6),
 [85, 8],
 {5, 26},
 {'lodj': 'khsj'},
 'python',
 True,
 12.23,
 50,
 (6+6j),
 (8, 5, 6),
 [85, 8],
 {5, 26},
 {'lodj': 'khsj'})

3.count method

In [11]:
t.count(True)

1

4.sorted function: all elements should be either int or string to compare and sorting this is python      function

In [12]:
sorted(t)

TypeError: '<' not supported between instances of 'bool' and 'str'

In [13]:
x=(1,56,8.5,4,4,6,47,1665,101210)
sorted(x)   # look at the output tuple converted into list

[1, 4, 4, 6, 8.5, 47, 56, 1665, 101210]

5.MIN MAX Function

In [15]:
x=(1,56,8.5,4,4,6,47,1665,101210)

In [16]:
min(x)

1

In [17]:
max(x)

101210