# FOR LOOP IN PYTHON

1. for loop is used for n number of execution.
2. if else gives one output
3. Break continue is used in for loop

Here each element is executed using for loop

1. for items in collection:
   print(items)

2. for i in l:
   print(i)
    
3. for list_samples in list1:
   print(list_samples)

In [1]:
l=[12,1,58,154,9,2,3,6,7,99,601]

In [2]:
l[5]  #each time coder can not search for each index so use loop and it saves time

2

In [3]:
l[2]

58

In [4]:
for i in l:
    print(i)

12
1
58
154
9
2
3
6
7
99
601

# PRACTICE QUESTION

In [7]:
d={1,2,3}

In [8]:
for i in d:
    print(d)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3}

    *******    AND    ******

In [15]:
for i in d:
    print(i,)

1
2
3

# CHECK CODE

In [16]:
list1=[12,56,89,41,1,58,154,99,601]

In [17]:
for list_samples in list1:
    print(list_samples)

12
56
89
41
1
58
154
99
601

In [18]:
for list_samples in list1:
    print(list_samples,end=(" "))  # end=" " gives output in a single line

12 56 89 41 1 58 154 99 601

# Break continue is used in for loop

In [19]:
l

[12, 1, 58, 154, 9, 2, 3, 6, 7, 99, 601]

In [20]:
for i in l:
    print(i,end=(" "))
    if i==2:
        break  #output till 2 only

12 1 58 154 9 2

# for else code:

In [21]:
for i in l:
    print(i)
else:
    print(" execute list once ")

12
1
58
154
9
2
3
6
7
99
601
 execute list once

In [22]:
for i in l:
    print(i)
    if i==2:
        break
else:
    print(" execute list once ")

12
1
58
154
9
2

In [23]:
s='1256848' #string
for i in s:
    print(i,end=" ")

1 2 5 6 8 4 8

In [24]:
n={15,65,9,19,1,23,4,6}
for i in n:
    print(i,end=" ")

65 1 4 6 9 15 19 23

# dictionary using for:

In [25]:
d={'key':'value','name':'jyothi','contact':'9784612566'}

In [26]:
d['name']

'jyothi'

In [27]:
for i in d:
    print(i)

key
name
contact

In [28]:
for i in d:
    print(i,":",d[i])

key : value
name : jyothi
contact : 9784612566

# RANGE FUNCTION IN FOR LOOP

range function   (start:end:stop)

In [29]:
l

[12, 1, 58, 154, 9, 2, 3, 6, 7, 99, 601]

In [30]:
for i in range (1,15):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [31]:
for i in range(12):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11

In [32]:
for i in range(1,25,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23

# To check index value in list

In [33]:
l

[12, 1, 58, 154, 9, 2, 3, 6, 7, 99, 601]

In [34]:
for i in range(11):
    print(i,"=",l[i])

0 = 12
1 = 1
2 = 58
3 = 154
4 = 9
5 = 2
6 = 3
7 = 6
8 = 7
9 = 99
10 = 601

# STRING indexing using RANGE :

In [35]:
s="jyothi Hande"

In [36]:
for i in range(len(s)):
    print(i,"=",s[i])

0 = j
1 = y
2 = o
3 = t
4 = h
5 = i
6 =
7 = H
8 = a
9 = n
10 = d
11 = e

In [37]:
for i in range(s):
    print(i,"=",s[i])
    pass    # string do not support pass

TypeError: 'str' object cannot be interpreted as an integer

# TABLE OF 3 USING RANGE:

In [38]:
for i in range(1,11):
    print(3,"*",i,"=",i*3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [39]:
for i in range(1,11):
    print(7,"*",i,"=",i*7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [40]:
s=int(input("enter number for multiplication: "))
for i in range(1,11):
    print(s,"*",i,"=",i*s)

enter number for multiplication: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

# find in string how many times a is there in STRING

In [41]:
y="aaaaakkkkkkjjshshlllooo"

In [42]:
for i in y:
    print(i,":",y.count(i))

a : 5
a : 5
a : 5
a : 5
a : 5
k : 6
k : 6
k : 6
k : 6
k : 6
k : 6
j : 2
j : 2
s : 2
h : 2
s : 2
h : 2
l : 3
l : 3
l : 3
o : 3
o : 3
o : 3

In [43]:
y

'aaaaakkkkkkjjshshlllooo'

In [44]:
set(y)

{'a', 'h', 'j', 'k', 'l', 'o', 's'}

In [45]:
k=set(y)

In [46]:
k

{'a', 'h', 'j', 'k', 'l', 'o', 's'}

In [47]:
for i in k:
    print(i,":",y.count(i))

s : 2
l : 3
o : 3
a : 5
j : 2
k : 6
h : 2

In [48]:
a="LearningPythonDS"

In [49]:
#print only upper case using a for loop

In [50]:
for i in a:
    if i.islower() == True:
        print(i)
    #output only capital letters

e
a
r
n
i
n
g
y
t
h
o
n

In [51]:
x="KoMaLhAnDe"
for i in x:
    if i.islower()==True:
        print(i)
    else:
        print("try again")

try again
o
try again
a
try again
h
try again
n
try again
e

In [52]:
x="KoMaLhAnDe"
for i in x:
    if i.islower()!=True:
        print(i)

K
M
L
A
D

# FACTORIAL of a number n!=n x (n-1)x (n-2) x(n-3)
4=1*2*3*4
 =24

In [54]:
n=int(input("enter the number for factorial: "))
fact = 1
for i in range(1,n):
    fact = fact*i
print(fact)

enter the number for factorial: 5
24

In [55]:
e=int(input("enter the number for factorial: "))
fact=1

for i in range(1,e+1):
    fact=fact*i
print(fact)

enter the number for factorial: 6
720